/* Box model */
*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Defaults */
body {
    color: #FFFFFF;
}


/* Shared */
.s--fixed {
    position: fixed;
}

.s--right {
    float: right;
}


/* Containers */
.s--container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px; 
}


/* Header with logo */
header {
    height: 5em;
    padding: .5em 1em;
}

#a-s--logo {
    height: 2em;
}

#a-s--logo.s--floating {
    z-index: 20;
}

#a-s--logo>* {
    margin: 0;
}


/* Menu */
#a-s--menu ul {
    margin-top: 1em;
    z-index: 15;
}

#a-s--menu li {
    margin-right: 0.4em;
    margin-top: 0.2em;
}

#a-s--menu li a {
    background-color: transparent;
    background-color: rgba(255,255,255,0.2);
    border-radius: 3px;
    color: #FFFFFF;
    color: rgba(255,255,255,0.8);
    font-size: 1.3em;
}

#a-s--menu li a:hover, a:focus {
    color: #FFFFFF;
}

#a-s--menu pure-menu-selected a.pure-menu-link {
    color: white;
    background-color: #122536; /* hex-3 */
}


/* Menu (when fixed) */
#a-s--menu.s--fixed {
    padding-top: 0;
    top: 0;
    z-index: 10;
}


/* Menu (when attached) */
#a-s--menu.s--attached {
    background-color: rgba(0,0,0,0.3);
    padding-top: 0;
    top: 0;
    z-index: 10;
}

#a-s--menu.s--attached ul {
    margin-top: 0;
}

#a-s--menu.s--attached li {
    margin: 0;
}

#a-s--menu.s--attached a {
    background-color: transparent;
    border-bottom: solid transparent 0.3em;
    border-radius: 0;
    margin-bottom: 1px; /* minor correction */
    font-size: 1.1em;
}

#a-s--menu.s--attached a:hover, a:focus {
    color: #FFFFFF;
}


/* Main content */
main {
    background-color: white;
    /* overflow: auto; */
    position: relative;
}

section {
    padding: 4em 1em 2em 1em;
}

section#home {
    padding-top: 9em;
}

section#home h1,h2,h3,h4,h5,h6,p {
    font-weight: lighter;
}

section#home h1 {
    font-size: 2.4em;
}

section#home h2 {
    font-size: 2.0em;
}

section#home p {
    font-size: 1.3em;
}


/* Background images */
.s--back-img-1 {
    background-image: url("http://placehold.it/2000x1200/6F88A3/B89978.png");
}

.s--back-img-2 {
    background-image: url("http://placehold.it/2000x1200/6FA993/BB738E.png");
}

.s--back-img-3 {
    background-image: url("http://placehold.it/2000x1200/FACDA4/30679A.png");
}

.a-s--back-parallax {
    background-attachment: fixed;    
    background-repeat: repeat;    

    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

