/* Box model */
*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Defaults */
body {
  color: #FFFFFF;
}


/* Containers */
.s--container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 1200px; 
}


/* Header with logo */
header {
    height: 3em;
    padding: .5em 1em;
}

#s--logo {
    height: 2em;
    position: fixed;
    /* z-index: -10; */
}

#s--logo>* {
    margin: 0;
}


/* Menu */
#a-s--menu.fixed {
    position: fixed;
    top: 0;
    width: inherit;
    z-index: 10;
}

#a-s--menu a.pure-menu-link {
    font-size: 1.5em;
    color: white;
}

#a-s--menu pure-menu-selected a.pure-menu-link {
    color: white;
    background-color: #122536; /* hex-3 */
}

#a-s--menu li a:hover,
#a-s--menu li a:focus {
    background-color: #2E84D1; /* hex-1 */
}




/* Main content */
main {
    background-color: white;
    overflow: auto;
}

section {
    padding: 2em 1em;
}
