/* Palette URL: http://paletton.com/#uid=30x0g0kl-kRb4vogspYqQf--c9h */

.sc--back-1 {
    background-color: #476687;
}

.sc--back-2 {
    background-color: #448C71;   
}

.sc--back-3 {
    background-color: #CF9865;
}
